@import "../global.scss";

.modal-wrapper {
  width: 35%;
  height: 585px;
  overflow-y: auto;
  background-color: white;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
  border-radius: 10px;
  border: 1px solid #cecece;
  position: fixed;
  transform: translate(85%, 3.5%);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .modal-head {
    width: 100%;
    height: 45px;
    @include flex;
    list-style-type: none;
    text-decoration: none;
    li {
      width: 100%;
      height: 100%;
      @include flex;
      font-size: 14px;
      color: #292744;
      background-color: #cecece60;
      font-weight: 600;
      cursor: pointer;
      transition: 0.1s ease-out;
      border-radius: 3px;
    }
    li:hover {
      background-color: #cecece5b;
    }
  }


  .login-container {
    width: 100%;
    height: 485px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    .title {
      width: 100%;
      height: 80px;
      @include flex;
      span {
        color: #292744;
        font-weight: 700;
        font-size: 20px;
      }
    }

    .form {
      width: 100%;
      height: 405px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      .field-areas {
        width: 100%;
        height: 205px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .field {
          width: 80%;
          height: 105px;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          input {
            width: 100%;
            height: 45px;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: rgb(232, 240, 254);
            padding-left: 1rem;
            padding-right: 1.5rem;
            margin-top: 0.3rem;
          }
          input:focus {
            border: 2px solid #3d378f6c;
          }
          input:hover {
            background-color: rgba(183, 204, 241, 0.473);
          }
          label {
            color: #292744;
            font-weight: 600;
            font-size: 13.8px;
            letter-spacing: -0.2px;
          }

          .label-pass {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: auto;
            .primary-forgot-password {
              font-size: 13.8px;
              text-decoration: none;
              letter-spacing: -0.2px;
              font-weight: 600;
              color: #6961dd;
            }
          }
          #err-msg {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #e20227;
            font-size: 13px;
            padding-left: 0.5rem;
          }

        }
      }

      .buttons-and-more {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .primary-login-button {
          width: 80%;
          height: 70px;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          #primaryLoginBtn {
            width: 100%;
            height: 50px;
            border-radius: 13px;
            border: none;
            outline: none;
            background-color: #292744;
            color: white;
            font-weight: 700;
            font-size: 17.5px;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.1s ease-out;
          }
          #primaryLoginBtn:hover {
            background-color: #ffffff;
            color: #292744;
          }
          #primaryLoginBtn:active {
            transform: translateY(2px);
          }

          //animation button
          .loading-anim {
            width: 100%;
            height: 50px;
            border-radius: 13px;
            border: none;
            outline: none;
            background-color: #292744;
            color: white;
            font-weight: 700;
            font-size: 17.5px;
            text-transform: uppercase;
            cursor: pointer;
            transition: 0.1s ease-out;
              display: flex;
              align-items: center;
              justify-content: center;
              #rectangle1 {
                width: 40px;
                height: 40px;
                border: 3px solid rgb(36, 206, 112);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                animation: loading 0.5s forwards infinite;
                @keyframes loading {
                  0% {transform: rotate(0deg);}
                  100% {transform: rotate(360deg);}
                }
              }
          }
        }

        .additional-title {
          width: 100%;
          @include flex;
          height: 30px;
          span {
            color: #292744;
            font-size: 15px;
            font-weight: bold;
            padding-top: 0.5rem;
          }
        }

        .additional-options {
          width: 1005;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex-direction: column;
          #additional-link {
            font-size: 15px;
            font-weight: 500;
            text-decoration: none;
            color: #292744;
            margin-top: 0.3rem;
            padding: 3px 10px;
            border-radius: 10px;
            transition: 0.1s ease-out;
          }
          #additional-link:hover {background-color: #292744; color: #fff;}
        }
      }
    }
  }

  .register-container {
    width: 100%;
    height: 485px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
    .title {
      margin-top: 1rem;
      width: 100%;
      height: 100px;
      @include flex;
      flex-direction: column;
      h2 {
        font-size: 22px;
        transform: skewX(-10deg);
        font-weight: bold;
        color: #292744;
      }
      p {
        color: #6f8caa;
        font-weight: 500;
        font-size: 11px;
        width: 100%;
        height: 100%;
        padding: 0.1rem;
        text-align: center;
      }
    }

    .form {
      width: 100%;
      height: 400px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      .field-areas {
        width: 100%;
        height: 220px;
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .field {
          width: 80%;
          height: auto;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          position: relative;
          flex-direction: column;
          input {
            width: 100%;
            height: 40px;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: rgb(232, 240, 254);
            padding-left: 1rem;
            padding-right: 3.5rem;
            margin-top: 0.3rem;
          }
          input:focus {
            border: 2px solid #3d378f6c;
          }
          input:hover {
            background-color: rgba(183, 204, 241, 0.473);
          }
          label {
            color: #292744;
            font-weight: 600;
            font-size: 13.8px;
            letter-spacing: -0.2px;
          }

          .label-pass {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: auto;
            .primary-forgot-password {
              font-size: 13.8px;
              text-decoration: none;
              letter-spacing: -0.2px;
              font-weight: 600;
              color: #6961dd;
            }
          }

          
          #open-eyes {
               position: absolute;
               right: 1.5rem;
               bottom: 0.6rem;
               font-size: 1.3rem;
               cursor: pointer;
          }
          #open-eyes:hover {background-color: whitesmoke;}
          #open-eyes:active {transform: translateY(2px);}
          #close-eyes {
               position: absolute;
               right: 1.5rem;
               bottom: 0.6rem;
               font-size: 1.3rem;
               cursor: pointer;
          }
          #close-eyes:hover {background-color: whitesmoke;}
          #close-eyes:active {transform: translateY(2px);}

         
        }

        .checkbox-field {
          width: 79%;
          height: 100%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          padding-top: 1rem;
          .rules-check,
          .promotions-check {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            #rules-checkbox,
            #promotions-checkbox {
              width: 20px;
              height: 20px;
            }
            span {
              width: 95%;
              height: auto;
              font-size: 12.5px;
              text-align: start;
              padding-left: 0.5rem;
              #rules-link {
                padding: 5px 5px;
                text-decoration: none;
                color: #f33c59;
              }
            }
          }
        }
      }

      .additional-titles {
        width: 100%;
        height: 100%;
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .primary-register-button {
          width: 80%;
          height: 45px;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          #primaryRegisterBtn {
            width: 100%;
            height: 100%;
            border-radius: 25px;
            border: 2.5px solid rgba(211, 211, 10, 0.397);
            outline: none;
            background-color: #29274427;
            color: rgb(163, 163, 163);
            font-weight: 700;
            font-size: 17.5px;
            text-transform: uppercase;
            cursor: not-allowed;
            transition: 0.1s ease-out;
          }

            //animation button
            .loading-anim {
              width: 100%;
              height: 50px;
              border-radius: 13px;
              border: none;
              outline: none;
              background-color: #292744;
              color: white;
              font-weight: 700;
              font-size: 17.5px;
              text-transform: uppercase;
              cursor: pointer;
              transition: 0.1s ease-out;
                display: flex;
                align-items: center;
                justify-content: center;
                #rectangle1 {
                  width: 40px;
                  height: 40px;
                  border: 3px solid rgb(36, 206, 112);
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  animation: loading 0.5s forwards infinite;
                  @keyframes loading {
                    0% {transform: rotate(0deg);}
                    100% {transform: rotate(360deg);}
                  }
                }
            }
        }
        .activeBtn {
         background-color: #292744 !important;   
         cursor: pointer !important;
         border: 2.5px solid rgb(211, 211, 10) !important;  
         color: white !important;   
        }
        .activeBtn:hover {
          background-color: transparent !important;
          border: 3px solid #292744 !important;
          color: #292744 !important;
        }

        .additional-title {
          width: 100%;
          @include flex;
          height: 30px;
          #addition-login-link {
            color: #f33c59;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
          }
        }
        .additional-title-social-media {
          width: 100%;
          @include flex;
          height: 30px;
          #addition-social-media-title {
            font-size: 13px;
            transform: skewX(-15deg);
            color: #292744;
            font-weight: 700;
          }
          #addition-social-media-title:after {
            content: "----------";
            color: #f33c59;
          }
          #addition-social-media-title::before {
            content: "----------";
            color: #f33c59;
          }
        }

        .login-in-social-media-accounts {
          width: 95%;
          height: 27%;
         
          margin-top: 0.5rem;
          @include flex;

          .login-to-facebook,
          .login-to-google {
            user-select: none;
            transition: 0.1s all;
            width: 75%;
            height: 100%;
            margin-top: 0.2rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 3px solid #e1e7ed;
            border-radius: 8px;
            padding: 0.5rem;
            cursor: pointer;
            span {
              font-size: 13.5px;
            }
          }
          .login-to-facebook:hover {
            background-color: #292744;
            color: white;
          }
          .login-to-facebook:active {
            transform: translateY(1px);
          }
          .login-to-google:hover {
            background-color: #2fb165;
            color: white;
          }
          .login-to-google:active {
            transform: translateY(1px);
          }
        }
      }

      #err-msg {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: red;
        font-size: 11.5px;
        padding-left: 0.5rem;
      }
    }
  }
}
