/* NEWS CONTENT  */
@media only screen and (max-width: 1115px) and (min-width: 968px) {
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap {
     width: 100%;
}
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items {
     width: 100%;
}
.news-container .news-wrapper .news-container-in-newspage {
     width: 80%;
}
.news-container .news-wrapper {
     width: 100%;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
}
.news-container .news-wrapper .left-sidebar {
     display: none;
}
.news-container .news-wrapper .content {
     width: 80%;
}

.news-container .news-wrapper .right-sidebar {
     width: 80%;
}


.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .left-coefficients {
     border-right: none;
     width: 7%;
}
.news-container .news-wrapper .right-sidebar .active-cups-today .top-title img {
     width: 33px;
     height: 33px;
     transform: skew(20deg);
}

.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .center-teams {
     flex-direction: column-reverse;
}

.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .left .profile img {
     width: 40px;
     height: 40px;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top {
     width: 50%;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .top-10-selector .selector {
     width: 60%;
}
}

@media only screen and (max-width: 968px) and (min-width: 768px) {
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items {
     width: 100%;
}
.news-container .news-wrapper .news-container-in-newspage {
     width: 80%;
}
.news-container .news-wrapper .content .bottom-navigation .time .icon-calendar {
     background-color: transparent;
     width: 100%;
     border-radius: unset;
     box-shadow: unset;
}
.news-container .news-wrapper {
     width: 100%;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
}
.news-container .news-wrapper .left-sidebar {
     display: none;
}
.news-container .news-wrapper .content {
     width: 90%;
}

.news-container .news-wrapper .right-sidebar {
     width: 90%;
}


.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .left-coefficients {
     border-right: none;
     width: 13%;
}
.news-container .news-wrapper .right-sidebar .active-cups-today .top-title img {
     width: 33px;
     height: 33px;
     transform: skew(20deg);
}
.container
     .homepage
     .homepage-content
     .right-sidebar
     .active-cups-today
     .cupons
     .left-coefficients
     .coefficient
     span {
     font-size: 14px;
}
.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .left-coefficients .coefficient {
     height: 70px;
     border-radius: 10px;
}

.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .center-teams {
     flex-direction: column-reverse;
}

.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .left .profile img {
     width: 40px;
     height: 40px;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top {
     width: 50%;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .top-10-selector .selector {
     width: 60%;
}
}

@media only screen and (max-width: 768px) and (min-width: 568px) {
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news {
     flex-direction: column;
}

.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .news-image-container {
     width: 100%;
     height: 200px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .news-image-container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .right-titles {
     width: 100%;
}
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items {
     width: 100%;
}
.news-container .news-wrapper .news-container-in-newspage {
     width: 80%;
}
.news-container .news-wrapper .content .bottom-navigation .time .icon-calendar {
     background-color: transparent;
     width: 100%;
     border-radius: unset;
     box-shadow: unset;
}
.news-container .news-wrapper {
     width: 100%;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
}
.news-container .news-wrapper .left-sidebar {
     display: none;
}
.news-container .news-wrapper .content {
     width: 90%;
}

.news-container .news-wrapper .right-sidebar {
     width: 90%;
}

.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .left-coefficients {
     border-right: none;
     width: 13%;
}
.news-container .news-wrapper .right-sidebar .active-cups-today .top-title img {
     width: 33px;
     height: 33px;
     transform: skew(20deg);
}
.container
     .homepage
     .homepage-content
     .right-sidebar
     .active-cups-today
     .cupons
     .left-coefficients
     .coefficient
     span {
     font-size: 14px;
}
.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .left-coefficients .coefficient {
     height: 70px;
     border-radius: 10px;
}

.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .center-teams {
     flex-direction: column-reverse;
}

.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .left .profile img {
     width: 40px;
     height: 40px;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top {
     width: 85%;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .top-10-selector .selector {
     width: 60%;
}
}

@media only screen and (max-width: 568px) and (min-width: 510px) {
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news {
     flex-direction: column;
}

.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .news-image-container {
     width: 100%;
     height: 200px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .news-image-container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .right-titles {
     width: 100%;
}
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items {
     width: 100%;
}
.news-container .news-wrapper .news-container-in-newspage {
     width: 80%;
}
.news-container .news-wrapper .content .bottom-navigation .time {
     width: 20%;
}
.news-container .news-wrapper .content .bottom-navigation .time .icon-calendar {
     background-color: transparent;
     width: 100%;
     border-radius: unset;
     box-shadow: unset;
}

.news-container .news-wrapper .content .bottom-navigation .left-area {
     width: 75%;
}

.news-container .news-wrapper .content .bottom-navigation .left-area .links {
     margin: 0.2rem;
     padding: 6px 20px;
}
.news-container .news-wrapper {
     width: 100%;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
}
.news-container .news-wrapper .left-sidebar {
     display: none;
}
.news-container .news-wrapper .content {
     width: 90%;
}

.news-container .news-wrapper .right-sidebar {
     width: 90%;
}



.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .left-coefficients {
     border-right: none;
     width: 13%;
}
.news-container .news-wrapper .right-sidebar .active-cups-today .top-title img {
     width: 33px;
     height: 33px;
     transform: skew(20deg);
}
.container
     .homepage
     .homepage-content
     .right-sidebar
     .active-cups-today
     .cupons
     .left-coefficients
     .coefficient
     span {
     font-size: 14px;
}
.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .left-coefficients .coefficient {
     height: 70px;
     border-radius: 10px;
}

.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .center-teams {
     flex-direction: column-reverse;
}

.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .left .profile img {
     width: 40px;
     height: 40px;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top {
     width: 85%;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .top-10-selector .selector {
     width: 60%;
}
}

@media only screen and (max-width: 510px) and (min-width: 450px) {
     .news-container {
          overflow-x: hidden;
     }
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news {
     flex-direction: column;
}

.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .news-image-container {
     width: 100%;
     height: 200px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .news-image-container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .right-titles {
     width: 100%;
}
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items {
     width: 100%;
}
.news-container .news-wrapper .news-container-in-newspage {
     width: 100%;
}
.news-container .news-wrapper .content .bottom-navigation .time .icon-calendar #selectedtime {
     display: none;
}
.news-container .news-wrapper .content .bottom-navigation .time {
     width: 20%;
}
.news-container .news-wrapper .content .bottom-navigation .time .icon-calendar {
     background-color: transparent;
     width: 100%;
     border-radius: unset;
     box-shadow: unset;
}
.news-container .news-wrapper .content .bottom-navigation .left-area .links > #title-links {
     font-size: 10px;
}

.news-container .news-wrapper .content .bottom-navigation .left-area {
     width: 75%;
}

.news-container .news-wrapper .content .bottom-navigation .left-area .links {
     margin: 0.2rem;
     padding: 6px 20px;
}
.news-container .news-wrapper {
     width: 100%;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
}
.news-container .news-wrapper .left-sidebar {
     display: none;
}
.news-container .news-wrapper .content {
     width: 90%;
}

.news-container .news-wrapper .right-sidebar {
     width: 90%;
}


.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .left-coefficients {
     border-right: none;
     width: 13%;
}
.news-container .news-wrapper .right-sidebar .active-cups-today .top-title img {
     width: 33px;
     height: 33px;
     transform: skew(20deg);
}
.container
     .homepage
     .homepage-content
     .right-sidebar
     .active-cups-today
     .cupons
     .left-coefficients
     .coefficient
     span {
     font-size: 14px;
}
.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .left-coefficients .coefficient {
     height: 70px;
     border-radius: 10px;
}

.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .center-teams {
     flex-direction: column-reverse;
}

.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .left .profile img {
     width: 40px;
     height: 40px;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top {
     width: 85%;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .top-10-selector .selector {
     width: 60%;
}
}

@media only screen and (max-width: 450px) and (min-width: 310px) {
     .news-container {
          overflow-x: hidden;
     }
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items {
     width: 100%;
}
.news-container .news-wrapper .news-container-in-newspage {
     width: 99%;
}

.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news {
     flex-direction: column;
}

.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .news-image-container {
     width: 100%;
     height: 200px;
     display: flex;
     align-items: center;
     justify-content: center;
}
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .news-image-container img {
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .right-titles {
     width: 100%;
}
.news-container .news-wrapper .right-sidebar .top-10-title #title {
     font-size: 13px;
     text-wrap: nowrap;
}
.news-container .news-wrapper .content .bottom-navigation {
     flex-direction: column;
}
.news-container .news-wrapper .content .bottom-navigation .time {
     width: 100%;
     position: relative;
     background-color: #e1e7ec;
}
.news-container .news-wrapper .content .bottom-navigation .left-area {
     width: 100%;
}

.news-container .news-wrapper .content .header-content .navigation-header-content .links {
     font-size: 12px;
}

.news-container .news-wrapper .content .bottom-navigation .time .icon-calendar {
     background-color: transparent;
     width: 100%;
     border-radius: unset;
     box-shadow: unset;
     margin-right: 12.6rem;
     margin-top: 0.2rem;
}
.news-container .news-wrapper .content .bottom-navigation .time::after {
     content: "Tarixə görə sırala";
     position: absolute;
     right: 1.8rem;
     padding-left: 0.5rem;
     border-left: 1px solid #30303069;
     user-select: none;
     color: #727171;
     font-size: 12px;
}


.news-container .news-wrapper .content .bottom-navigation .time .icon-calendar #selectedtime {
     font-size: 11px;
}
.news-container .news-wrapper .content .bottom-navigation .left-area .links > #title-links {
     font-size: 10px;
}
.news-container .news-wrapper .content .header-content .head .right span {
     font-size: 10px;
     text-wrap: nowrap;
}
.news-container .news-wrapper .content .bottom-navigation .left-area .links {
     margin: 0.2rem;
     padding: 6px 20px;
}
.news-container .news-wrapper {
     width: 100%;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
}
.news-container .news-wrapper .left-sidebar {
     display: none;
}
.news-container .news-wrapper .content {
     width: 98%;
     margin-top: 1rem;
}



.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .left-coefficients {
     border-right: none;
     width: 13%;
}
.news-container .news-wrapper .right-sidebar .active-cups-today .top-title img {
     width: 33px;
     height: 33px;
     transform: skew(20deg);
}

.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .left-coefficients .coefficient {
     height: 70px;
     border-radius: 10px;
}

.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .center-teams {
     flex-direction: column-reverse;
}

.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .left .profile img {
     width: 40px;
     height: 40px;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top {
     width: 100%;
     overflow: hidden;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .left .name-country #country {
     font-size: 10px;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .right .top #profit-count,
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .right .top #tip-count {
     font-size: 12px;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .left .name-country #name {
     font-size: 11px;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .top-10-selector .selector {
     width: 60%;
}

.news-container .news-wrapper .right-sidebar .news-container .news .info .time {
     flex-direction: column;
}

.news-container .news-wrapper .right-sidebar .news-container .news .info .text {
     font-size: 10px;
     width: 90%;
     overflow: hidden;
}
.news-container .news-wrapper .right-sidebar .news-container .top-title-news span {
     font-size: 20px;
}


.carousel .slide img {
     width: 20px;
     height: 20px;
}
.news-container .news-wrapper .right-sidebar .carousel-inner .carousel .control-dots {
     display: none;
}

.news-container .news-wrapper .right-sidebar .register-banner-container .content-banner .box .banner {
     width: 50px;
     overflow: hidden;
     height: 50px;
     img {
     width: 100%;
     height: 100%;
     }
}

.news-container .news-wrapper .right-sidebar .register-banner-container .content-banner .box .left span {
     font-size: 11px;
     text-wrap: nowrap;
     letter-spacing: -0.8px;
}
.news-container .news-wrapper .right-sidebar .social-media-container {
     min-height: 335px;
     background-size: 300%;
     justify-content: space-evenly;
}
.news-container .news-wrapper .right-sidebar .social-media-container .socialmedia-title {
     text-wrap: wrap;
     font-size: 17px;
}
.news-container .news-wrapper .right-sidebar .social-media-container .icon-container {
     flex-wrap: wrap;
}
.news-container .news-wrapper .right-sidebar .social-media-container .icon-container .icons {
     margin-left: 0.3rem;
     a {
     width: 37px;
     height: auto;
     img {
          width: 100%;
          height: 100%;
     }
     }
}
.news-container .news-wrapper .right-sidebar .register-banner-container .content-banner .register-button {
     width: 100%;
}

.news-container .news-wrapper .right-sidebar {
     width: 100%;
     padding: 0.3rem;
}
}

@media only screen and (max-width: 310px) and (min-width: 268px) {
     .news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news {
          flex-direction: column;
     }
     
     .news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .news-image-container {
          width: 100%;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
     }
     .news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .news-image-container img {
          width: 100%;
          height: 100%;
          object-fit: cover;
     }
     .news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items .news-wrap .news .right-titles {
          width: 100%;
     }
     .news-container {
          overflow-x: hidden;
     }
.news-container .news-wrapper .news-container-in-newspage .container-newspage .news-items {
     width: 100%;
}
.news-container .news-wrapper .news-container-in-newspage {
     width: 100%;
}
.news-container .news-wrapper .right-sidebar .top-10-title #title {
     font-size: 13.5px;
}
.news-container .news-wrapper .right-sidebar .active-cups-today {
     display: none;
}
.news-container .news-wrapper .content .header-content .navigation-header-content .links {
     font-size: 12px;
     width: 100%;
}

.news-container .news-wrapper .content .bottom-navigation .time .icon-calendar #selectedtime {
     display: none;
}
.news-container .news-wrapper .content .bottom-navigation .time {
     width: 20%;
}
.news-container .news-wrapper .content .bottom-navigation .time .icon-calendar {
     background-color: transparent;
     width: 100%;
     border-radius: unset;
     box-shadow: unset;
}
.news-container .news-wrapper .content .bottom-navigation .left-area .links > #title-links {
     font-size: 11px;
}

.news-container .news-wrapper .content .bottom-navigation {
     height: 150px;
}
.news-container .news-wrapper .content .bottom-navigation .left-area {
     width: 75%;
     flex-direction: column;
     align-items: flex-start;
     justify-content: center;
}


.news-container .news-wrapper .content .bottom-navigation .left-area .links {
     padding: 5px 70px;
}
.news-container .news-wrapper {
     width: 100%;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
}
.news-container .news-wrapper .left-sidebar {
     display: none;
}
.news-container .news-wrapper .content {
     width: 100%;
     margin-top: 1rem;
}

.news-container .news-wrapper .right-sidebar {
     width: 100%;
}



.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .left-coefficients {
     border-right: none;
     width: 13%;
}
.news-container .news-wrapper .right-sidebar .active-cups-today .top-title img {
     width: 33px;
     height: 33px;
     transform: skew(20deg);
}

.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .left-coefficients .coefficient {
     height: 70px;
     border-radius: 10px;
}

.news-container .news-wrapper .right-sidebar .active-cups-today .cupons .center-teams {
     flex-direction: column-reverse;
}

.news-container .news-wrapper .content .header-content .head .right span {
     display: none;
}

.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .left .profile img {
     width: 20px;
     height: 20px;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .left .profile #level {
     font-size: 9px;
}
.news-container .news-wrapper .right-sidebar .news-container .news .news-photo img {
     display: none;
}
.news-container .news-wrapper .right-sidebar .news-container .news .info {
     width: 100%;
     align-items: center;
     justify-content: center;
}
.news-container .news-wrapper .right-sidebar .news-container .news {
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top {
     width: 100%;
     overflow: hidden;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .left .name-country #country {
     display: none;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .left .name-country #country {
     font-size: 8px;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .right .top #profit-count,
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .right .top #tip-count {
     font-size: 10px;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .user-top .left .name-country #name {
     font-size: 9px;
}
.news-container .news-wrapper .right-sidebar .top10-analisers .top-10-selector .selector {
     width: 100%;
}

.news-container .news-wrapper .right-sidebar .news-container .news .info .time {
     flex-direction: column;
     margin-right: 5rem;
     width: 100%;
}
.news-container .news-wrapper .right-sidebar .news-container .news .info .time .left {
     width: 100%;
}
.news-container .news-wrapper .right-sidebar .register-banner-container .content-banner .box .banner {
     display: none;
}

.news-container .news-wrapper .right-sidebar .social-media-container .icon-container {
     flex-direction: column;
}
.news-container .news-wrapper .right-sidebar .news-container .news .info .text {
     font-size: 10px;
     width: 90%;
     overflow: hidden;
     margin-right: 5rem;
}
.news-container .news-wrapper .right-sidebar .news-container .top-title-news span {
     font-size: 20px;
}

.news-container .news-wrapper .right-sidebar .social-media-container {
     min-height: auto;
     background-image: none;
     flex-wrap: wrap;
}
.news-container .news-wrapper .right-sidebar .social-media-container .icon-container {
     flex-wrap: wrap;
}
.news-container .news-wrapper .right-sidebar .social-media-container .connector span {
     display: none;
}
}
/* NEWS CONTENT  */
